.navbarMenu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 25px;
  margin-bottom: 10px;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.9);
}

.select {
  height: 20px;
}

.search {
  height: 25px;
  width: 120px;
  border-radius: 20px;
  border-style: none;
  padding-inline: 10px;
}

.pokemonName,
.pokemonNumber {
  color: black;
}

.mainContainer {
  padding-inline: 20px;
  min-height: 100vh;
}

.pokemonCard {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 20px;
  justify-content: center;
  align-items: start;
  margin: auto;
}

.pokemonBorder {
  border: solid 1px gray;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
  width: 200px;
  height: 230px;
  transition: transform 0.2s ease-in-out;
}

.pokemonBorder:hover {
  transform: translateY(-7px);
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.pokemonImage {
  width: 100px;
  height: 100px;
  margin-top: 5px;
}

.pokemonNumber {
  display: flex;
  background-color: rgb(223, 223, 223);
  padding-block: 5px;
  padding-left: 20px;
}

.pokemonName {
  margin-bottom: 12px;
}

.pokemonType {
  margin-inline: 5px;
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 20px;
}

.link {
  text-decoration: none;
  color: white;
}

.loadMoreButton {
  margin-top: 50px;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  font-size: 14px;
  border-color: rgb(57, 107, 186);
  background-color: rgb(255, 224, 49);
  margin-bottom: 50px;
}

.loadMoreButton:hover {
  cursor: pointer;
}
