.navbar {
  background-color: red;
  margin-bottom: 50px;
  width: auto;
}

.footer {
  background-color: red;
}

.pokemonName,
.pokemonNumber {
  color: black;
}

.pokemonCard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-inline: 50px;
}

.pokemonBorder {
  border: solid 1px rgb(240, 240, 240);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

.pokemonBorder:hover {
  transform: translateY(-7px);
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 230px;
  height: 200px;
}

.pokemonImage {
  width: 100px;
  height: 100px;
}

.pokemonNumber {
  display: flex;
  background-color: rgb(240, 240, 240);
  padding-block: 5px;
  padding-left: 20px;
}

.pokemonName {
  margin-bottom: 10px;
}

.pokemonType {
  margin-inline: 5px;
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 20px;
}
